@font-face {
  font-family: 'Hoefler Text';
  src: url('/fonts/hoefler-text-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url('/fonts/avenir-next-lt-pro-regular.otf') format('opentype');
}

* {
  box-sizing: border-box;
  outline: 0px solid red;
  outline-offset: -1px;
}

body {
  font-family: 'Avenir Next LT Pro', sans-serif;
  background-color: var(--colors-background);
  color: var(--colors-white);
  padding: 2rem;
  line-height: 1.5;
}

h1 {
  font-family: 'Hoefler Text';  
  font-size: 6rem;
  font-weight: 100;
  margin-bottom: 1rem;
}

p {
  font-size: 2rem;
  line-height: 1.6;
  font-weight: 100;
  margin-bottom: 1.5rem;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 0.5rem 0;
}

a {
  text-decoration: none;
  color: var(--colors-link);
  background: #e0f0ff;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  display: inline-block;
}

a:hover {
  background: #c8e6ff;
}
