<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/globals.css" />
    <link rel="stylesheet" href="/css/styleguide.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/typography.css" />
    <link rel="stylesheet" href="/css/components.css" />
    <title>Header Components</title>
  </head>
  <body>
    <main>
      <div class="headers col">
        <div class="size-xxxl col">
          <div class="labels col">
            <p class="subtitle text-3xl serif">Subtitle</p>
            <h1 class="title text-9xl serif">Title</h1>
          </div>
          <hr class="line" />
          <div class="description col">
            <p class="intro-description text-lg sans-bold">
              Intro description goes here maximus bibendum. Donec quis consequat sem, in placerat sem. Sed gravida sed
              erat at suscipit. Fusce et risus neque.
            </p>
            <p class="sub-description text-base sans-bold">
              Sub description goes here maximus bibendum. Donec quis consequat sem, in placerat sem. Sed gravida sed
              erat at suscipit.
            </p>
          </div>
        </div>
        <div class="size-xxl col">
          <div class="labels col">
            <p class="subtitle text-2xl sans-regular">Subtitle</p>
            <h2 class="title text-8xl serif">Title</h2>
          </div>
          <hr class="line" />
          <div class="description col">
            <p class="intro-description text-base sans-bold">
              Intro description goes here maximus bibendum. Donec quis consequat sem, in placerat sem. Sed gravida sed
              erat at suscipit. Fusce et risus neque.
            </p>
            <p class="sub-descriptio text-base sans-regular">
              Sub description goes here maximus bibendum. Donec quis consequat sem, in placerat sem. Sed gravida sed
              erat at suscipit.
            </p>
          </div>
        </div>
        <div class="size-xl">
          <div class="labels">
            <p class="subtitle text-2xl">Subtitle</p>
            <h3 class="title text-7xl serif">Title</h3>
          </div>
          <hr class="line" />
          <div class="description col">
            <p class="intro-description text-2xl>
              Intro description goes here maximus bibendum. Donec quis consequat sem, in placerat sem. Sed gravida sed
              erat at suscipit. Fusce et risus neque.
            </p>
            <p class="sub-description">
              Sub description goes here maximus bibendum. Donec quis consequat sem, in placerat sem. Sed gravida sed
              erat at suscipit.
            </p>
          </div>
        </div>
        <div class="size-lg">
          <div class="labels col">
            <h4 class="title text-6xl serif">Title</h4>
            <p class="subtitle text-xl">Subtitle</p>
          </div>
          <hr class="line" />
          <div class="description col">
            <p class="intro-description">
              Intro description goes here maximus bibendum. Donec quis consequat sem, in placerat sem. Sed gravida sed
              erat at suscipit. Fusce et risus neque.
            </p>
            <p class="sub-description">
              Sub description goes here maximus bibendum. Donec quis consequat sem, in placerat sem. Sed gravida sed
              erat at suscipit. Fusce et risus neque.
            </p>
          </div>
        </div>
        <div class="size-md">
          <div class="labels col">
            <h5 class="title text-5xl serif">Title</h5>
            <p class="subtitle text-xlserif">Subtitle</p>
          </div>
          <hr class="line" />
          <div class="description col">
            <p class="intro-description">
              Intro description goes here maximus bibendum. Donec quis consequat sem, in placerat sem. Sed gravida sed
              erat at suscipit. Fusce et risus neque.
            </p>
            <p class="sub-description">
              Sub description goes here maximus bibendum. Donec quis consequat sem, in placerat sem. Sed gravida sed
              erat at suscipit. Fusce et risus neque.
            </p>
          </div>
        </div>
        <div class="size-sm">
          <div class="labels">
            <h6 class="title text-4xl serif">Title</h6>
            <p class="subtitle text-2xl">Subtitle</p>
          </div>
          <hr class="line" />
          <div class="description col">
            <p class="intro-description">
              Intro description goes here maximus bibendum. Donec quis consequat sem, in placerat sem. Sed gravida sed
              erat at suscipit. Fusce et risus neque.
            </p>
            <p class="sub-description">
              Sub description goes here maximus bibendum. Donec quis consequat sem, in placerat sem. Sed gravida sed
              erat at suscipit. Fusce et risus neque.
            </p>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
