<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/globals.css" />
    <link rel="stylesheet" href="/css/styleguide.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/typography.css" />
    <link rel="stylesheet" href="/css/components.css" />
    <title>Cards</title>
    <script type="module" src="/js/main.js" defer></script>
  </head>
<body>
  <header>
    <nav>
      <div class="navbar">
        <a href="" class="logo">🥡 Component Library</a>
        <ul class="nav-links">
          <li><a href="">Layouts</a></li>
          <li><a href="">Components</a></li>
          <li><a href="">Tokens</a></li>
          <li><a href="">Assets</a></li>        
          <li><a href="">About</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <main>
    <h1><a href="/index.html">📦 Component Library</a></h1>
    <!-- Usage example -->
    <h2>Base Card</h2>
    <p>This is a custom button component.</p>
  </main>
  <footer></footer>
</body>
</html>